.page-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-container {
  background:white;
  padding:10px;
  border-radius:5px;
  border:2px solid gray;
  gap:10px;
  display:flex;
  flex-direction:column;
}

.login-container input,
.login-container button {
  width:25em;
  height:3em;
  border-radius:5px;
}

.error-message {
  display:none;
  color:red;
}

.success-message {
  display:none;
}

.verification-section {
  display:none;
}
